<!DOCTYPE html>

<html>
<head>
    <title>Vulpes Report</title>
    <style>
        .block {
            display: block;
        }

        .no-bold {
            font-weight: normal;
        }
        
        .bold {
            font-weight: bold;
        }
        
        .center {
            text-align: center;
        }
        
        .section-header {
            display: block;
            font-weight: bold;
            font-size: 1.1em;
            text-align: center;
            background-color: #ccddff;
        }
        
        .rsum_th {
            width: 33%;
        }
    </style>
</head>

<body>
    <h1><span class="block center">Vulpes Report</span></h1>
    <h2 id="report_timestamp"><span class="block center no-bold"><%= @timestamp %></span></h2>

    <section id="results_summary">
        <span class="section-header">Results Summary (Executive)</span>

        <table>
            <tr>
                <th class="rsum_th">Severity</th>
                <th class="rsum_th">Total URLs found</th>
                <th class="rsum_th">Unreported URLs count</th>
            </tr>
        <% 10.downto 1 do |sev|
            length = 0
            unreported = 0

            if @stats[sev]
                length = @stats[sev][:length]
                unreported = @stats[sev][:unreported]
            end %>
            <tr id="rsum_sev_<%= sev %>" class="severity-<%= sev %> center">
                <td class="bold"><%= sev %></td>
                <td><%= length %></td>
                <td><%= unreported %></td>
            </tr>
        <% end %>
        </table>
        <!-- TODO add charts here -->
    </section>

    <section id="results_detailed">
        <span class="section-header">Results Detailed</span>
