<% unless self.severity_initialized? %>
   <hr/>
   <div id="results_detailed_item">
      <h4 class="item-head">Severity Details</h4>
      <div id="results_detailed_item_summary">
         <span class="descriptor">Severity</span>
         <span class="big-text block descriptor-data severity-<%= self.get_severity %>"><%= self.get_severity %></span>
         <span class="descriptor">Severity Description</span>
         <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_severity_description %></pre>
         <span class="descriptor">Risk Factor</span>
         <pre class="no-up-down-margin descriptor-data multilined <%= self.get_severity > 6 ? 'bold' : '' %> "><%= self.get_escaped_risk_factor %></pre>
      </div>
      <h4 class="item-head">URLs Details</h4>
   <% self.initialized_severity %>
<% end %>
<% count = self.get_count %>
<div id="results_detailed_item_url_<%= count %>" class="upper-border">
   <span class="descriptor">S.No.</span>
   <span class="bold descriptor-data"><%= count %></span><br/>
   <span class="descriptor">URL</span>
   <span class="descriptor-data multilined"><a href="<%= self.get_escaped_url %>"><%= self.get_escaped_url %></a></span><br/>
   <span class="descriptor">Pattern Used</span>
   <span class="mark-text descriptor-data multilined"><%= self.get_escaped_pattern %></span><br/>
   <span class="descriptor">Search Term Used</span>
   <span class="mark-text descriptor-data multilined"><%= self.get_escaped_search_term %></span><br/>
   <span class="descriptor">Pattern Desription</span>
   <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_pattern_description %></pre>
   <span class="descriptor">Succeed?</span>
   <span class="descriptor-data <%= self.is_succeed? ? 'flag-okay' : 'flag-error' %>"><%= self.is_succeed? %></span><br/>
   <span class="descriptor">Reported?</span>
   <span class="descriptor-data <%= self.is_reported? ? 'flag-okay' : 'flag-error' %>"><%= self.is_reported? %></span><br/>
   <span class="descriptor">Reason of Include</span>
   <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_reason_of_include %></pre>
   <span class="descriptor">blacklist rules matches (If any).</span>
   <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_blist_table %></pre>
   <span class="descriptor">whitelist rules matches (If any).</span>
   <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_wlist_table %></pre>
   <span class="descriptor">whitelist unmatched sections (If any).</span>
   <pre class="no-up-down-margin descriptor-data multilined"><%= self.get_escaped_unmatched_wlist_table %></pre>
</div>
<br/>
